body{
    margin:0;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.header-button-container{
    text-decoration: none;
    margin-left: 10px;
    margin-right:10px;
}

.home-button{
    border:none;
    height: 75px;
    color:black;
    font-size: 30px;
    font-weight: 600;
    margin-left: 10px;
    margin-right:10px;
}

.header-button{
    border: none;  
    height: 75px;
    color:black;
    font-size: 20px;
    font-weight: 600;
    
}

.has-corners{
    background:
    linear-gradient(to right, black 4px, transparent 4px) 0 0,
    linear-gradient(to right, black 4px, transparent 4px) 0 100%,
    linear-gradient(to left, black 4px, transparent 4px) 100% 0,
    linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
    linear-gradient(to top, black 4px, transparent 4px) 0 100%,
    linear-gradient(to top, black 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.header-buttons{
    display: flex;
    justify-content: space-between;
    margin-left:10%;
    margin-right:10%;
    margin-top:2%;
}

.header-line{
    height: 4px;
    margin-left:10%;
    margin-right:10%;
    margin-top: 25px;
    margin-bottom:25px;
    background-color: black;
}

.footer{
    /*background-color: rgb(214, 220, 224);*/
    height: 100px;
}